.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #28a745;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #28a745;
}

.ScrollspySite {
    position: relative;
    overflow: auto;
    height: 300px;
}

.form-container1 {
    position: relative;
    top: 1vw;
    bottom: 1vw;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px green;
}

.form-container2 {
    position: relative;
    bottom: 1vw;
    top: 1vw;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px green;
    margin-top: 2px;
}

.img1 {
    align-content: center;
    padding: 10px;
}

.container01 {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box {
    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px green;
    padding: 2rem;
}

